# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
refine = false

output_path = ./output/DrivenCavity_uniform

velocityLB = 0.032 # 0.032
numberOfNodesX = 301
reynoldsNumber = 3200.0
timeStepOut = 100000
timeStepEnd = 1000000
